.joined-user-image {
    width: 100%;
    border-radius: 5px;
}

.btn-start {
    margin-top: 50px;
    padding: 30px 100px;
    background: rgb(238, 174, 202);
    color: white;
    font-size: 25px;
    background: linear-gradient(54deg, rgb(168, 77, 116) 0%, rgb(62, 133, 214) 100%);
}

.btn-start:hover{
    color: white;
    background: linear-gradient(54deg,  rgb(62, 133, 214) 0%, rgb(168, 77, 116) 100%);
}